.cateogryName-AllProduct {
    text-align: center;
    padding: 5%;
}

.cateogryName-AllProduct-category {
    border-width: 2px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border: 1px solid #000;
    border-radius: 30px;
    font-size: 19;
    font-weight: 600;
    color: rgb(45, 41, 37);
    padding: 18px;
}

/* SLIDE */
.slide {
    background: rgb(238, 235, 235);
    height: 10%;
    margin-top: -3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-content {
    text-align: center;
}


/* FILTER */



.filTer{
    display: flex;
    justify-content: flex-end;
}

.filTer td {
    color: rgb(91, 79, 79);
    text-align: center;
    font-size: 19;
}

.select {
    border: solid 0.1rem;
    height: 35px;
    margin: 0 25px;
    width: 109;
    border-radius: 5px;
    font-size: 15;
    font-weight: 600;
    color: rgb(110, 110, 110);
    outline: none;

}

.tr-submitFilter{
    margin-top: 50px;
}

#buttonFilter{
    color: rgb(215, 210, 203);
    background-color: rgb(75, 75, 75);
    border: none;
    width: 16%;
    height: 28;
    font-weight: 600;
    font-size: 16;
    border-radius: 6px;
    cursor: pointer;
}


.none-to-display{
    height: 20;
}

/* PRODUCT */

.product {
    display: flex;
    overflow-x: hidden;
    text-align: center;
    flex-wrap: wrap;
}

.product-item {
    width: calc((100%/4.5)*1);
    margin: 0 20px;
}

.product-item-img {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 20px 20px;
}

.product-item img {
    width: 100%;
    margin: 10 20;
}

.product-item-name,
.product-item-price {
    font-size: 20px;
    font-weight: 800;
    color: rgb(128, 128, 128);
}